
# Bundler cache
# IDE configurations
# Jekyll cache
# Misc
# NPM dependencies
# RubyGems
*.bak
*.gem
.DS_Store
.bundle
.codebuddy
.devcontainer/
.editorconfig
.idea
.jekyll-cache
.jekyll-metadata
.vscode
Gemfile.lock
_sass/vendors
_site
assets/js/dist
node_modules
package-lock.json
vendor
